include mixins

doctype
html( lang="en" )
    head
        title FBB Player Valuations
        meta( charset='utf-8' )
        meta( name='description', content='FBB Player Valuations' )
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css" rel="stylesheet")
        link(href="/stylesheets/main.css" rel="stylesheet")

    body( style="padding-bottom:10rem;" )
        .container

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script( src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js' )
        script( src='/scripts/table-styling.js' )

        +nav("FBB Valuator", "dropdown_menu")
            +nav_item( "index.html", "active" ) Home
            +nav_item( "about.html" ) About
            +nav_item( "contact.html" ) Contact
            +nav_item_dropdown( "#" )( label="Dropdown" )
                +nav_item( "#" ) Action
                +nav_item( "#" ) Another action
                +nav_item( "#" ) Something else here
                +nav_divider
                +nav_header Nav header
                +nav_item( "#" ) Separated link
                +nav_item( "#" ) One more separated link

        .table-wrapper
            h1 Player Projections
            table.display( id='players-table', cellspacing=0, width="100%" )
                thead
                    +stats_legend

                tfoot
                    +stats_legend

                tbody
                    each player in players
                        tr
                            td= player.name
                            td= player.team
                            td= player.positions
                            td= player.projection.ab
                            td= player.projection.h
                            td= (player.projection.h / player.projection.ab).toFixed(3)
                            td= player.projection.r
                            td= player.projection.rbi
                            td= player.projection.hr
                            td= player.projection.sb
                            td= player.SGP.toFixed(3)
                            td= player.adjSGP.toFixed(3)
        
        +position_sort_toolbar
            +position_sort('All', false, "active")
            +position_sort('C')
            +position_sort('1B')
            +position_sort('2B')
            +position_sort('3B')
            +position_sort('SS')
            +position_sort('OF')
            +position_sort('CI')
            +position_sort('MI')
            +position_sort('DH', true)