//- Navbar mixins
mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    nav#title-nav( role="navigation", class=["navbar", "navbar-" + style] )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="")= name
 
        .collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav
                block
 
mixin nav_item(href, active)
    li(class=active): a.page-chooser( href=href )
        block
 
mixin nav_header
    li.dropdown-header
        block

mixin position_sort_toolbar
    ul.nav.nav-pills( id="position-sort-toolbar" )
        block

mixin position_sort(position, hideDot, active)
    li( role="presentation" )
        span.table-filter-item.position-sorter( class=active, id=position )= position
        unless hideDot
            | &#183

mixin league_filter_toolbar
    ul.nav.nav-pills( id="league-filter-toolbar" )
        block

mixin league_filter(league, hideDot, active)
    li( role="presentation" )
        span.table-filter-item.league-filter( class=active, id=league )= league
        unless hideDot
            | &#183

mixin projection_filter(proj, isChecked)
    .checkbox.checkbox-primary
        - var id = proj + "checkBox"
        input.proj-filter( id=id, type="checkbox", value=proj, checked=isChecked )
        label( for=id )
            =proj

mixin stats_legend
    tr
        th Name
        th Team
        th Position(s)
        th PA
        th AB
        th H
        th R
        th RBI
        th HR
        th SB
        th CS
        th AVG
        th OBP
        th SLG
        th OPS

mixin stats_table
    tr